* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#grid {
  width: 1000px; 
  height: 660px; 
  display: grid;
	
  grid-gap: 10px 10px; 
  
  grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
  grid-template-rows: 124px 124px 124px 124px 124px;
}

.box {
  background: green;
  color: white;
  font-size: 32px;
  padding: 10px;
}

.box1 { 
  grid-column: 1 / span 4; 
  grid-row: 1;
}

.box2 { 
  grid-column: 1; 
  grid-row: 2 / span 4; 
}

.box3 { 
  grid-column: 2; 
  grid-row: 2; 
}

.box4 { 
  grid-column: 3 / span 2; 
  grid-row: 2; 
}

.box5 { 
  grid-column: 2 / span 2; 
  grid-row: 3; 
}

.box6 { 
  grid-column: 4; 
  grid-row: 3; 
}

.box7 { 
  grid-column: 2; 
  grid-row: 4; 
}

.box8 { 
  grid-column: 3; 
  grid-row: 4; 
}

.box9 { 
  grid-column: 4; 
  grid-row: 4; 
}

.box10 { 
  grid-column: 2 / span 3; 
  grid-row: 5; 
}

