* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#grid {
  display: grid;
  width: 1000px; 
  height: 660px;
	
  grid-gap: 10px 10px; 
  
  grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
  grid-template-rows: 124px 124px 124px 124px 124px;
}

.box {
  background: green;
  color: white;
  font-size: 32px;
  padding: 10px;
}

.box1 { 
  grid-column: span 4 / auto; 
  grid-row: 1/2;
}

.box2 { 
  grid-column: 1/2; 
  grid-row: 2/6; 
}

.box3 { 
  grid-column: 2/3; 
  grid-row: 2/3; 
}

.box4 { 
  grid-column: span 2 / auto; 
  grid-row: 2/3; 
}

.box5 { 
  grid-column: span 2 / auto; 
  grid-row: 3/4; 
}

.box6 { 
  grid-column: 4/5; 
  grid-row: 3/4; 
}

.box7 { 
  grid-column: 2/3; 
  grid-row: 4/5; 
}

.box8 { 
  grid-column: 3/4; 
  grid-row: 4/5; 
}

.box9 { 
  grid-column: 4/5; 
  grid-row: 4/5; 
}

.box10 { 
  grid-column: span 3 / auto; 
  grid-row: 5/6; 
}

