* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#grid {
  display: grid;
  grid-gap: 10px 10px;

  grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
  grid-template-rows: 124px 124px 124px 124px 124px;

  grid-auto-flow: row dense;
}
.box {
  background: green;
  color: white;
  font-size: 32px;
  padding: 10px;
}
.box1 {
  grid-column: span 4 / auto;
}
.box2 {
  grid-row: span 4 / auto;
}
.box3 {
  grid-column: span 1 / auto;
}
.box4 {
  grid-column: span 2 / auto;
}
.box5 {
  grid-column: span 2 / auto;
}
.box6 {
  grid-column: span 1 / auto;
}
.box7 {
  grid-column: span 1 / auto;
}
.box8 {
  grid-column: span 1 / auto;
}
.box9 {
  grid-column: span 1 / auto;
}
.box10 {
  grid-column: span 3 / auto;
}
